/* color palette
rbg(00,67,47)
rbg(85,8A,87)
rbg(C9,37,28) */


nav {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 10px 20px;
}

a.logo {
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding: 30px;
}

a.navy {
    text-decoration: none;
    padding: 40px;
    color: white;
    margin-left: auto;
    text-align: right;
    
}

a.navy:hover {
    color: #c93728;
}

.title {
    background-image: url('../static/Downtown_Pittsburgh_from_Duquesne_Incline_in_the_morning.png');
    background-size: 100% auto;
    height: 600px;
}

.addressBio {
    text-align: right;
}

footer {
    background-color:rgb(00,67,47);
    color: white;
}

a.footy {
    color:rgb(136, 136, 136);
    padding: 5px;
}

a.footy:hover {
    color: #c93728;
}

#copyYear {
    padding: 5px;
}
