<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="../static/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUQUESNE INCLINE</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Georgia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body onload="addYear()">
    <!-- nav bar and image header -->
    <nav class="topnav">
        <a id="logo" href="../index.html"><img src="../static/logo.png" alt="Duquesne Logo" width="200" height="auto"/></a>
        <li><a id="wordlogo" href="../index.html">DUQUESNE INCLINE</a></li>
        <li><a id="navy" href="../views/discover.html">Discover</a></li>
        <li><a id="navy" href="../views/giftshop.html">Gift Shop</a></li>
        <li><a id="navy" href="../views/map.html">Find Us!</a></li>

        <!-- "Hamburger menu" to toggle the navigation links -->
        <div id="hamnav">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i></a>
            <ul id="hamnavlinks">
                <li><a href="../views/fares.html">Fares</a></li>
                <li><a href="../views/about.html">About</a></li>
                <li><a href="../views/FAQ.html">FAQ</a></li>
                <li><a>Join Our Mailing List!</a></li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <h2 id="heady">Join Our Mailing List!</h2>
        <form id="mailingform" onsubmit="validate()">
            <label for="nameInput">Name (required)</label>
            <input id="nameInput" type="text" required><br>
            <label for="emailInput">Email (required)</label>
            <input id="emailInput" type="email" required><br>
            <label for="numberInput">Phone Number (required)</label>
            <input id="numberInput" type="tel" required><br>
            <label for="receiveMessages">Receive messages via SMS text</label>
            <input id="receiveMessages" type="checkbox" name="receiveMessages"><br>
            <label for="zipInput">Zip Code (required)</label>
            <input id="zipInput" type="text" pattern="\d{5}" required><br><br>
            <input onclick="validate()" type="submit" value="SUBMIT"><br><br>
        </form>

        <p id="error"></p>
        <p id="thankYouMessage"></p>
        
        <h4><a href="../static/mailinform.jpg" target="_blank">Click Here to Mail-in Form!</a></h4>
    </div>
    <footer>
        <p id="copyYear">Designed and Coded by Brenda Yu &copy; </p>
        <a class="footy" href="../index.html">Home</a>
        <a class="footy" href="../views/discover.html">Discover</a> 
        <a class="footy" href="../views/giftshop.html">Gift Shop</a>
        <a class="footy" href = "../views/map.html">Find Us!</a>
    </footer>
</body>
</html>