<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="../static/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUQUESNE INCLINE</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Georgia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body onload="addYear()">
    <!-- nav bar and image header -->
    <nav class="topnav">
        <a id="logo" href="../index.html"><img src="../static/logo.png" alt="Duquesne Logo" width="200" height="auto"/></a>
        <li><a id="wordlogo" href="../index.html">DUQUESNE INCLINE</a></li>
        <li><a id="navy" href="../views/discover.html">Discover</a></li>
        <li><a id="navy" href="../views/giftshop.html">Gift Shop</a></li>
        <li><a id="navy">Find Us!</a></li>

        <!-- "Hamburger menu" to toggle the navigation links -->
        <div id="hamnav">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i></a>
            <ul id="hamnavlinks">
                <li><a href="../views/fares.html">Fares</a></li>
                <li><a href="../views/about.html">About</a></li>
                <li><a href="../views/FAQ.html">FAQ</a></li>
                <li><a href="../views/mailing.html">Join Our Mailing List!</a></li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <!-- Google Maps iFrame -->
        <h2 id="heady">Find Us on Google Maps!</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.60080224732!2d-80.02012282417144!3d40.4398375714359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f6af24753323%3A0x391d7b79fc54985b!2sDuquesne%20Incline!5e0!3m2!1sen!2sus!4v1743377697826!5m2!1sen!2sus" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!-- external map pdf -->
    <br><h3><a href="../static/map.pdf" target="_blank">Download our Map!</a></h3>
    </div>
    <footer>
        <p id="copyYear">Designed and Coded by Brenda Yuu &copy; </p>
        <a class="footy" href="../index.html">Home</a>
        <a class="footy" href="../views/discover.html">Discover</a> 
        <a class="footy" href="../views/giftshop.html">Gift Shop</a>
        <a class="footy">Find Us!</a>
    </footer>
</body>
</html>